body {
	background: url(http://i.imgur.com/SnuxUC6.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
@font-face {
    font-family: Ailerons;
    src: url("public/fonts/Ailerons-Typeface.otf");
    font-family: Stellar;
    src: url("public/fonts/Stellar-light.otf");
    font-family: Geforce;
    src: url("public/fonts/Geforce-bold.ttf");
}
.nav {
	float: right;
}

.nav ul {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.nav li {
	float: left;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    font-family: Geforce;
    font-size: 1.7em;

}

.nav li a:hover {
    /*background-color: #29A111;*/
    font-size: 1.9em;
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;
    color: #76b900;
    
    
}

.header {
    margin-top: -10px;
    background-image: url(http://i.imgur.com/QT7Ym8G.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
	border-bottom: solid black 2px;
    height: 400px;
}

.main {


}

#wrapper {
    display:table;
    width:80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
    padding: 10px;
}

#row {
    display:table-row;
}

#wrapper2 {
    display:table;
    width:80%;
    height: auto;
    margin-left: 10%;
    margin-top: 1%;
    padding: 10px;
}

#row2 {
    display:table-row;
}

#first {
    display:table-cell;
    background-color:red;
    width:250px;
    height: 280px;

}

#second {
    display:table-cell;
    background-color:blue;
    width:250px;
    height: 280px;
    margin-left: 10px;
}

#third {
    display:table-cell;
    background-color:green;
    width:250px;
    height: 280px;
    margin-left: 10px;
}

#fourth {
    display:table-cell;
    background-color:yellow;
    width:250px;
    height: 280px;
    margin-left: 10px;


}

#wrapper {
    display:table;
    width:80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
    padding: 10px;

}
#row {
    display:table-row;
}
#first {
    display:table-cell;
    background-color:red;
    width:250px;
    height: 280px;
}


#round-button {
    width:100px;
}

#round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:3px solid;
    overflow:hidden; 
    background: white; 
    box-shadow: 0 0 3px gray;
    margin-left:125px;
}

#round-button-circle:hover {
    background:grey;
}

#round-button a {
    display:table-cell;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

#round-button-circle2 {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:3px solid;
    overflow:hidden; 
    background: white; 
    box-shadow: 0 0 3px gray;
    margin-left:475px;
}

#round-button-circle2:hover {
    background:grey;
}

#round-button-circle3 {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:3px solid;
    overflow:hidden; 
    background: white; 
    box-shadow: 0 0 3px gray;
    margin-left:825px;
}

#round-button-circle3:hover {
    background:grey;
}

.fotter {
    margin-top: 12%;
    background-color: white;
    height: 150px;
}

.heading3 {
    padding-top: 15px;
    padding-left: 250px;
}

.paragraph {
    padding-left: 250px; 

}
#second {
    display:table-cell;
    background-color:blue;
    width:250px;
    height: 280px;
    margin-left: 10px;
}
#third {
    display:table-cell;
    background-color:#bada55;
    width:250px;
    height: 280px;
    margin-left: 10px;
}
#logo {
    width: 218px;
    height: 57px;
    margin-top: 20px;

}