body {
	background: url(http://i.imgur.com/SnuxUC6.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.nav {
	float: right;
}

.nav ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.nav li {
	float: left;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #29A111;
}

.header {
    margin-top: -10px;
    background-image: url(http://i.imgur.com/QT7Ym8G.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
	border-bottom: solid black 2px;
    height: 400px;
}

.main {

}

#wrapper {
    display:table;
    width:80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
    padding: 10px;
}
#row {
    display:table-row;
}
#first {
    display:table-cell;
    background-color:red;
    width:250px;
    height: 280px;

}
#second {
    display:table-cell;
    background-color:blue;
    width:250px;
    height: 280px;
    margin-left: 10px;
}
#third {
    display:table-cell;
    background-color:#bada55;
    width:250px;
    height: 280px;
    margin-left: 10px;
}
