ul {
    list-style-type: none;
    margin-left: 74%;
    margin-top: 0;
    padding: 0;
    width: 23%;
    overflow: hidden;
    background-color: rgb(0,0,0,0.0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #29A111;
}

/* individual classes */

.topContainer {
    margin-top: 0;
    background-image: url(http://i.imgur.com/QT7Ym8G.png);
    background-repeat: no-repeat;  
    background-size: 1920px;
    width: 100%;
    height: 400px;
    border: 2px solid white;
}

.midContainer {
    background-image: url(http://i.imgur.com/SnuxUC6.png);
    background-repeat: no-repeat;  
    background-size: 1920px;
    transform: rotate ( 180deg );
    width: 100%;
    height: 1000px;
    border: 2px solid white;
}

.left {
    margin-left: 20%;
    margin-top: 20%;
    width: 300px;
    height: 300px;
    float: left;
}

.mid {
    margin-left: 45%;
    margin-top: 20%;
    width: 300px;
    height: 300px;
    float: left;
}

.right {
    margin-left: 70%;
    margin-top: 20%;
    width: 300px;
    height: 300px;

}