body {
    background: url(http://i.imgur.com/SnuxUC6.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Geforce;

}
@font-face {
    font-family: Ailerons;
    src: url("fonts/Ailerons-Typeface.otf");
    font-family: Stellar;
    src: url("fonts/Stellar-light.otf");
    font-family: Geforce;
    src: url("fonts/Geforce-bold.ttf");
}
.nav {
    float: right;
}

.nav ul {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.nav li {
    float: left;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    font-family: Geforce;
    font-size: 1.7em;

}

.nav li a:hover {
    /*background-color: #29A111;*/
    font-size: 1.9em;
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;
    color: #76b900;
    
    
}

.header {
    margin-top: -10px;
    background-image: url(http://i.imgur.com/QT7Ym8G.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: solid black 2px;
    height: 400px;
}

.main {

}

#wrapper {
    display:table;
    width:80%;
    height: 100px;
    margin-left: 10%;
    /*margin-top: 10%;*/
    /*margin-bottom: 10%;*/
    padding: 10px;
}

#row {
    display:table-row;
}

#first {
    display:table-cell;
    /*background-color:red;*/
    width:250px;
    height: 280px;

}

#second {
    display:table-cell;
    /*background-color:blue;*/
    width:250px;
    height: 280px;
    margin-left: 10px;
}

#third {
    display:table-cell;
    /*background-color:green;*/
    width:250px;
    height: 280px;
    margin-left: 10px;
}

#fourth {
    display:table-cell;
    /*background-color:yellow;*/
    width:250px;
    height: 280px;
    margin-left: 10px;


}


#row {
    display:table-row;
}

#round-button {
    width:100px;
}

#round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:3px solid;
    overflow:hidden; 
    background: white; 
    box-shadow: 0 0 3px gray;
    margin-left:125px;
}

#round-button-circle:hover {
    background:grey;
}

#round-button a {
    display:table-cell;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

#logo {
    width: 218px;
    height: 57px;
    margin-top: 20px;

}
.product {
    width: 20em;
    /*height: 10em;*/
}


.tagline {
    color: white;
    font-family: Geforce;
    font-size: 1.3em;
    margin: 0.3em;
    
}
#website {
    color: white;
    font-family: Geforce;
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-left: 8em;
}
#website:hover {
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;
    color: #76b900;
    font-size: 1.1em;
    transition: 0.5s;
}
button {
    font-size: 1.6em;
    padding: 0.2em;
    transition: 0.5s;
    font-family: Geforce;
    color: white;
    border-radius: 9px;
    background-color: transparent; 
    border-color: #76b900;   
    border-width: 3px;
    margin-left: 3em;
    margin-top: 0.2em;
    width: 7em;
    height: 2em;
}
button:hover {
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;
    color: #76b900;
    transition: 0.5s;
    font-size: 1.9em;
    background-color: #76b900;
    border-color: white;
    text-decoration: underline;     
  
}
footer {
    /*position: inherit; */
}
section {
    color: transparent;
    font-family: Geforce;
    font-size: 2em;
}
label {
    font-family: Geforce;
    font-size: 2em;
}

#label {
    font-family: Geforce;
    color: white;
    font-size: 3em;
    margin-left: 1em;
}
.productPage {
    font-size: 1.6em;
    padding: 0.2em;
    transition: 0.5s;
    font-family: Geforce;
    color: white;
<<<<<<< HEAD
    background-image: url(img/gtx980tiBox.png);
    height: 300px;
    background-repeat:  no-repeat; 
    margin-left: 20em;
=======
    min-height: 900px;
}

a {
    color: green;
    text-decoration: none;
>>>>>>> 024a72f1875f40ed1c5ca71ac8e48d995594d68b
}